@import '../../../../../../styles/scss/patterns/sub-patterns/content-block/content-block';

.#{$prefix}--content-block-story .#{$prefix}--content-block__children {
  height: carbon--mini-units(60);
  background-color: #f4f4f4;
  padding: $carbon--spacing-05;
}
