@import '../../../../../../styles/scss/patterns/sub-patterns/content-group/content-group';

.#{$prefix}--content-group-story .#{$prefix}--content-group__children {
  height: carbon--mini-units(60);
  background-color: #f4f4f4;
  padding: $carbon--spacing-05;
}
