/* Error: Can't find stylesheet to import.
 *   ,
 * 8 | @use '@carbon/styles/scss/config' as *;
 *   | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss/themes/expressive/index.scss 8:1  root stylesheet */

body::before {
  display: block;
  padding: 1em;
  border-block-end: 2px solid #000000;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 8 \2502  @use '@carbon/styles/scss/config' as *;\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss/themes/expressive/index.scss 8:1  root stylesheet";
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono',
    'Droid Sans Mono', monospace;
  margin-block-end: 1em;
  white-space: pre;
}
