# build folders
build
coverage
dist
es
lib
umd
packages/*/examples/*
storybook-static

node_modules

# components
cypress
packages/web-components/src/components/masthead
packages/carbon-web-components/**/*-story.ts
*.d.ts

packages/**/src/internal/vendor