{
  "extends": [
    "./packages/eslint-config-ibmdotcom"
  ],
  "overrides": [
    {
      "files": [
        "**/overview.js",
        "**/*.stories.js"
      ],
      "rules": {
        "jsdoc/require-jsdoc": 0,
        "react/prop-types": 0
      }
    },
    {
      "files": [
        "**/*.e2e.js"
      ],
      "rules": {
        "jsdoc/require-jsdoc": 0
      },
      "env": {
        "jasmine": true
      },
      "globals": {
        "browser": true,
        "$": true,
        "$$": true,
        "describe": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterAll": true,
        "afterEach": true,
        "it": true,
        "expect": true,
        "page": true
      }
    },
    {
      "files": [
        "**/*_steps.js",
        "**/*.steps.js"
      ],
      "globals": {
        "describe": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterAll": true,
        "afterEach": true,
        "it": true,
        "expect": true,
        "page": true
      },
      "rules": {
        "no-new": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0
      }
    },
    {
      "files": [
        "packages/react/src/components/carbon-components-react/**/*.js",
        "packages/react/src/internal/keyboard/**/*.js",
        "packages/react/src/prop-types/**/*.js"
      ],
      "rules": {
        "sort-imports": 0,
        "jsdoc/require-param-description": 0,
        "react/prop-types": 0
      }
    },
    {
      "files": ["packages/react/tests/**/*.js"],
      "globals": {
        "describe": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterAll": true,
        "afterEach": true,
        "it": true,
        "expect": true,
        "aChecker": true
      },
      "rules": {
        "no-new": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0
      }
    },
    {
      "files": [
        "packages/react/tests/e2e/cypress/**/*.js"
      ],
      "extends": [
        "plugin:cypress/recommended"
      ],
      "parserOptions": {
        "sourceType": "module"
      },
      "rules": {
        // "import/no-unresolved": 0
      }
    },
    {
      "files": [
        "packages/react/tests/e2e/**/*.e2e.js",
        "packages/react/tests/e2e/**/*.cdn.e2e.js",
        "packages/react/src/components/**/*.e2e.js"
      ],
      "extends": [
        "plugin:cypress/recommended"
      ],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ]
}
