{
  "extends": [
    "./packages/eslint-config-ibmdotcom"
  ],
  "overrides": [
    {
      "files": ["**/overview.js", "**/*.stories.js"],
      "rules": {
        "jsdoc/require-jsdoc": 0
      }
    }
  ]
}
