{
  "extends": [
    "./packages/eslint-config-ibmdotcom"
  ],
  "overrides": [
    {
      "files": ["**/overview.js", "**/*.stories.js"],
      "rules": {
        "jsdoc/require-jsdoc": 0,
        "react/prop-types": 0
      }
    },
    {
      "files": ["**/*.e2e.js"],
      "rules": {
        "jsdoc/require-jsdoc": 0
      },
      "env": {
        "jasmine": true
      },
      "globals": {
        "browser": true,
        "$": true,
        "$$": true,
        "describe": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterAll": true,
        "afterEach": true,
        "it": true,
        "expect": true,
        "page": true
      }
    },
    {
      "files": ["**/*_steps.js", "**/*.steps.js"],
      "globals": {
        "describe": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterAll": true,
        "afterEach": true,
        "it": true,
        "expect": true,
        "page": true
      },
      "rules": {
        "no-new": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0
      }
    },
    {
      "files": ["packages/react/tests/**/*.js"],
      "globals": {
        "describe": true,
        "beforeAll": true,
        "beforeEach": true,
        "afterAll": true,
        "afterEach": true,
        "it": true,
        "expect": true,
        "aChecker": true
      },
      "rules": {
        "no-new": 0,
        "no-underscore-dangle": 0,
        "no-unused-expressions": 0
      }
    }
  ]
}
