{
  "**/*.js": [
    "prettier --write",
    "eslint packages",
    "cross-env BABEL_ENV=test jest",
    "git add"
  ],
  "packages/components/**/*.scss": [
    "prettier --write",
    "yarn lint:styles",
    "git add"
  ],
  "*.md": [
    "prettier --write",
    "git add"
  ]
}
