node_modules
lib
es
umd
build
dist
docs
coverage
storybook-static
storybook-static-react
.github
jsdocs
examples
carbon-stories
carbon-tools
.next
.yarn
CHANGELOG.md
packages/**/src/internal/vendor
packages/**/tests/e2e/cypress
packages/**/tests/e2e-storybook/cypress
packages/web-components/tests/snapshots
packages/web-components/tests/e2e/build/examples-scaffold
packages/web-components/tests/e2e/dist
