node_modules
lib
es
umd
build
dist
docs
coverage
storybook-static
storybook-static-react
.github
jsdocs
examples
carbon-stories
carbon-tools
.next
.yarn
CHANGELOG.md
packages/**/src/internal/vendor
packages/web-components/tests/snapshots
