@use '@carbon/styles/scss/theme' as *;

$story-prefix: 'side-panel-stories__';

.#{$story-prefix}body-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.#{$story-prefix}text-inputs {
  display: flex;
  gap: 1rem;

  > * {
    flex-basis: 50%;
  }
}

.#{$story-prefix}story-container {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 3rem 1fr;
  width: 100vw;
  height: 100vh;
}

.#{$story-prefix}story-header {
  background: $background-inverse;
}

.#{$story-prefix}story-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
