// mixin to give the ratio for lays doen for an aspect ratio
@import '../../globals/utils/aspect-ratio';

@mixin ratio-base() {
  display: flex;

  &::before {
    content: '';
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: aspect-ratio(4, 3);
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
