@import '../../globals/imports';
@import './simplelongform';
@import './jumplink';
@import '@carbon/ibmdotcom-styles/scss/components/card-link/index';


.#{$prefix}--simplelongform--g100 {
  @include carbon--theme($carbon--theme--g100) {
    @include simplelongform;
    @include jumplink;
    @include tile;
    @include card-link;
  }
}
