@import '../../../globals/imports';

@mixin contentblockcards-large-spacing {
  padding-top: $carbon--layout-05;
  padding-bottom: $carbon--layout-07;

  .#{$prefix}--content-block__heading {
    margin-bottom: $carbon--layout-05;
  }
}

@mixin content-block-cards {
  .#{$prefix}--content-block-cards {
    .#{$prefix}--content-block {
      padding-top: $carbon--layout-03;
      padding-bottom: $carbon--layout-05;
      @include carbon--breakpoint('md') {
        padding-top: $carbon--layout-03;
        padding-bottom: $carbon--layout-06;
      }
      @include carbon--breakpoint('lg') {
        @include contentblockcards-large-spacing;
      }
      @include carbon--breakpoint('xlg') {
        @include contentblockcards-large-spacing;
      }
      @include carbon--breakpoint('max') {
        @include contentblockcards-large-spacing;
      }

      &__heading {
        margin-bottom: $carbon--layout-03;
        @include carbon--breakpoint('md') {
          margin-bottom: $carbon--layout-04;
        }
      }
    }
  }
}

@include exports('content-block-cards') {
  @include content-block-cards;
}
