@import '../../../globals/imports';
@import '../../../globals/utils/content-width';
@import '../../../globals/utils/hang';


@mixin leadspace-block {

  .#{$prefix}--leadspace-block {
    padding-left: $spacing-05;
    padding-right: $spacing-05;

    &__title {
      width: 90%;
      color: $text-01;
      padding-top: $spacing-07;
      @include carbon--type-style('expressive-heading-06', true);
    }

    &__heading {
      @include carbon--type-style('expressive-heading-05', true);
    }

    .#{$prefix}--content-block {
      padding-top: 0;
      padding-bottom: $spacing-05;

      .#{$prefix}--image-with-caption {
        margin-bottom: 0;
      }

      .#{$prefix}--link-list {
        padding-top: $spacing-09;
      }
    }

    @include carbon--breakpoint('lg') {
      &__title {
        padding-top: $layout-05;
      }

      .#{$prefix}--content-block {
        padding-bottom: $layout-05;
      }
    }
  }

  .#{$prefix}--leadspace-block__media {
    padding-top: $spacing-05;

    .#{$prefix}--image-with-caption {
      margin-top: 0;
    }
  }

  .#{$prefix}--horizontal-line {
    border-color: $ui-04;
    margin-top: $layout-05;
  }
}

@include exports('leadspace-block') {
  @include leadspace-block;
}
