name : Cut Release branch
on:
  workflow_dispatch:
    inputs:
      version-number:
        required: true
        description: 'version number (ie: 2.3.0)'
        type: string
        default: '2.x.x'
jobs:
  create-release-branch:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: '0'
      # Config git user
      - run: |
          git config --global user.email ${{secrets.CARBON_BOT_EMAIL}}
          git config --global user.name ${{secrets.CARBON_BOT_NAME}}
          git checkout -b release/v${{ github.events.inputs.version-number }}
          cd packages/utilities/src/utilities/settings
          sed -i "s/Carbon for IBM.*/Carbon for IBM\.com ${{ github.events.inputs.version-number }}\',/" settings.js
          cd ../../../../..
          git add -A
          git commit -m "chore(settings): update settings to v${{ github.events.inputs.version-number }}"
          git push origin release/v${{ github.events.inputs.version-number }}
