# Setting colors
export RED='\033[0;31m'
export GREEN='\033[0;32m'
export NC='\033[0m'

RELEASE_VERSION=$(echo $RELEASE_BRANCH | cut -c 9-)

# Switch to non-detached branch
echo "${GREEN}Creating release branch...${NC}";
git checkout -b ${RELEASE_BRANCH}

# Set git user
git config --global user.email "digdes@us.ibm.com"
git config --global user.name "ibmdotcom-bot"
git config --global github.token $GITHUBTOKEN

# Update the settings file
echo "${GREEN}Updating the settings file...${NC}";
cd packages/utilities/src/utilities/settings
sed -i "s/Carbon for IBM.*/Carbon for IBM\.com $RELEASE_VERSION\',/" settings.js
cat settings.js
cd "${WORKSPACE}"

# Update all changes and commit directly
echo "${GREEN}Committing and pushing the release branch...${NC}";
git add -A
git commit -m "chore(settings): update settings to ${RELEASE_VERSION}"
git push origin ${RELEASE_BRANCH}

echo "RELEASE_VERSION=${RELEASE_VERSION}" >> build.properties
