name: dependabot-yarn-mirror

on: [pull_request]

jobs:
  update-offline-mirror:
    runs-on: ubuntu-16.04
    strategy:
      matrix:
        node-version: ['14.x']
    steps:
      - uses: actions/checkout@v1
      - uses: fregante/setup-git-user@v1
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Update yarn offline mirror
        if: contains(github.event.pull_request.labels.*.name, 'dependencies')
        run: |
          yarn
          git add -A
          if [[ ! -z $(git status -s) ]] ; then git commit -m "chore(yarn): update yarn offline mirror" && git push; fi
