name: publish-nightly (Publish Nightly release to NPM)

on:
  schedule:
    - cron: '0 1 * * 1-5'

concurrency:
  group: publish-nightly-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    if: github.repository == 'carbon-design-system/carbon-for-ibm-dotcom'
    runs-on: ubuntu-20.04
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --offline
      - name: Build project
        run: yarn build
      - name: Set NPM token
        env:
          NPM_API_KEY: ${{ secrets.NPM_API_KEY }}
        run: echo "//registry.npmjs.org/:_authToken=$NPM_API_KEY" >> .npmrc
      - name: Run Lerna
        run: yarn lerna publish --canary minor --dist-tag nightly --preid nightly.${{github.run_id}} --no-push --no-git-tag-version --yes
      - uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
        if: failure()
