name: release-preflight

on:
  push:
    branches:
      - master
      - release/*

concurrency:
  group: release-preflight-${{ github.ref }}
  cancel-in-progress: true

jobs:
  react:
    runs-on: ubuntu-20.04
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install xvfb
        run: sudo apt-get install xvfb
      - name: Install dependencies
        run: yarn install --offline
      - name: Build project
        run: yarn build
      - name: Run checks
        run: |
          yarn ci-check
          yarn lerna run --ignore=@carbon/ibmdotcom-web-components ci-check
          yarn lint
          yarn lint:styles
      - name: Run checks (web components)
        run: xvfb-run --auto-servernum yarn lerna run --stream --prefix --scope=@carbon/ibmdotcom-web-components ci-check
      - uses: act10ns/slack@v1
        with:
          status: ${{ job.status }}
        if: failure()
